:root {
  --color-text: black;
}

body {
  margin: 0;
  font-size: 14px;
}

h1, h2, h3, h4, tr, label, input, button, p, a, li {
  font-family: "Onest", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
}

p, label, td, th {
  line-height: 1.5;
}

table {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0;
}

th:first-of-type, td:first-of-type {
  padding-left: 15px;
} 

th, td {
  padding: 15px;
}

tbody tr td {
  border-top: 1px solid #e0e0e0;
}

h1 {
  text-align: center;
  padding: 90px 0 75px;
}

.input > section {
  display: flex;
}

.input.disabled {
  color: #878787;
}

.input label {
  z-index: 2;
  width: fit-content;
  font-weight: 500;
  position: relative;
  bottom: 10px;
  padding: 0 5px;
}

.helperText {
  font-size: 12px;
}

.input {
  position: relative;
  padding-top: 5px;
}

.input > section {
  position: relative;
}

.input > section > section {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.input > section > section > span {
  width: 10px;
  border-block-start: 1px solid;
  border-block-end: 1px solid;
}

.input > section > section > span:nth-of-type(1) {
  border-start-start-radius: 5px;
  border-end-start-radius: 5px;
  border-inline-start: 1px solid;
}

.input > section > section > span:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-block-start: none;
}

.input > section > section > span:nth-of-type(3) {
  flex-grow: 1;
  border-start-end-radius: 5px;
  border-end-end-radius: 5px;
  border-inline-end: 1px solid;
}

.input input, .input textarea {
  border: none;
  padding: 0 15px;
  width: 100%;
  margin: 12px 0;
  background: none;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px; 
}

button, input[type="submit"], input[type="button"] {
  background-color: #4b53ca;
  padding: 8px 15px;
  border-radius: 5px;
  border: 0px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

input[type="text"][disabled], textarea[disabled] {
  cursor: text;
}

button[disabled], input[type="submit"][disabled], input[type="button"][disabled] {
  filter: grayscale(1) opacity(0.6);
}

button.secondary {
  color: var(--color-text);
  background-color: transparent;
}